[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
django = "*"
numpy = "*"
bs4 = "*"
pandas = "*"
wikipedia = "*"
gensim = "*"

[dev-packages]

[requires]
python_version = "3.8"
